@model ContactUs
@{
    ViewData["Title"] = "Index";
}

<!-- Contact Start -->
<div class="contact mt-125">
    <div class="container">
        <div class="section-header">
            <p>Get In Touch</p>
            <h2>Get In Touch For Any Query</h2>
        </div>
        <div class="row align-items-center">
            @await Component.InvokeAsync("Contact")

            <div class="col-md-7">
                <div class="contact-form">
                    <h1>@ViewBag.Message</h1>
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" asp-action="ContactUs" method="post">
                        <div class="control-group">
                            <label asp-for="@Model.Name"></label>
                            <input asp-for="@Model.Name" type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                            <span asp-validation-for="@Model.Name" class="help-block text-danger"></span>
                        </div>
                        @*<div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                        <p class="help-block text-danger"></p>
                    </div>*@
                        <div class="control-group">
                            <label asp-for="@Model.Subject"></label>
                            <input asp-for="@Model.Subject" type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                            <span asp-validation-for="@Model.Subject" class="help-block text-danger"></span>
                        </div>
                        <div class="control-group">
                            <label asp-for="@Model.Message"></label>
                            <textarea class="form-control" asp-for="@Model.Message" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                            <span asp-validation-for="@Model.Message" class="help-block text-danger"></span>
                        </div>
                        <div>
                            <button class="btn" type="submit" id="sendMessageButton">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
