@model HomeVM
@{
    int count = 1;
}

<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="~/img/" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1></h1>
                    <p></p>
                    <div class="carousel-btn">
                        <a class="btn" href=""><i class="fa fa-link"></i>Get Started</a>
                        <a class="btn btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal"><i class="fa fa-play"></i>Watch Video</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="~img/carousel-2.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Your Success Our Achievement</h1>
                    <p>
                        Morbi sagittis turpis id suscipit feugiat. Suspendisse eu augue urna. Morbi sagittis, orci sodales varius fermentum, tortor
                    </p>
                    <div class="carousel-btn">
                        <a class="btn" href=""><i class="fa fa-link"></i>Get Started</a>
                        <a class="btn btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal"><i class="fa fa-play"></i>Watch Video</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="~img/carousel-3.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Your Business Our Effort</h1>
                    <p>
                        Sed ultrices, est eget feugiat accumsan, dui nibh egestas tortor, ut rhoncus nibh ligula euismod quam. Proin pellentesque odio
                    </p>
                    <div class="carousel-btn">
                        <a class="btn" href=""><i class="fa fa-link"></i>Get Started</a>
                        <a class="btn btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal"><i class="fa fa-play"></i>Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Video Modal Start-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->
<!-- Fact Start -->
<div class="fact">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="~/img/icon-4.png" alt="Icon">
                    <h2>Qualified Team</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="~/img/icon-1.png" alt="Icon">
                    <h2>Individual Approach</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="~/img/icon-8.png" alt="Icon">
                    <h2>100% Success</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="~/img/icon-6.png" alt="Icon">
                    <h2>100% Satisfaction</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact Start -->
<!-- About Start -->
<div class="about mt-125">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="about-img">
                    @foreach (var image in Model.About.Images)
                    {
                        <div class="about-img-@count">
                            <img src="~/img/@image.Image" alt="Image">
                        </div>
                        count++;
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-header">
                    <p>Learn About Us</p>
                    <h2>@Model.About.Title</h2>
                </div>
                <div class="about-text">
                    <p>
                        @Model.About.Description
                    </p>
                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header">
            <p>Consulting Services</p>
            <h2>Our Best Consulting Services</h2>
        </div>
        <div class="row">
            @foreach (var service in Model.ConsultingServices)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <img src="~/img/@service.icon" alt="Icon">
                        <h3>@service.name</h3>
                        <p>
                            @service.description
                        </p>
                        <a href="">Read More</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Feature Start -->
<div class="feature mt-125">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="feature-img">
                    <img src="~/img/@Model.Feature.Image" alt="Image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-header">
                    <p>Our Feature</p>
                    <h2>@Model.Feature.Title</h2>
                </div>
                <p>
                    @Model.Feature.Description
                </p>
                <div class="row counters">
                    <div class="col-6">
                        <i class="fa fa-user"></i>
                        <div class="counters-text">
                            <h2 data-toggle="counter-up">@Model.Feature.label1Count</h2>
                            <p>@Model.Feature.label1</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <i class="fa fa-users"></i>
                        <div class="counters-text">
                            <h2 data-toggle="counter-up">@Model.Feature.label2Count</h2>
                            <p>@Model.Feature.label2</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <i class="fa fa-check"></i>
                        <div class="counters-text">
                            <h2 data-toggle="counter-up">@Model.Feature.label3Count</h2>
                            <p>@Model.Feature.label3</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <i class="fa fa-running"></i>
                        <div class="counters-text">
                            <h2 data-toggle="counter-up">@Model.Feature.label4Count</h2>
                            <p>@Model.Feature.label3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
<!-- Testimonial Start -->
<div class="testimonial">
    <div class="container">
        <div class="section-header">
            <p>Testimonial Carousel</p>
            <h2>100% Positive Customer Reviews</h2>
        </div>
        <div class="owl-carousel testimonials-carousel">
            @foreach (var review in Model.Reviews)
            {
                <div class="testimonial-item">
                    <img src="~/img/@review.Image" alt="Image">
                    <p>
                        @review.Content
                    </p>
                    <h2>@review.Name</h2>
                    <h3>@review.Profession</h3>
                </div>
            }

        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header">
            <p>Consulting Services</p>
            <h2>Our Best Consulting Services</h2>
        </div>
        <div class="row">
            @foreach (var service in Model.ConsultingServices)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <img src="~/img/@service.icon" alt="Icon">
                        <h3>@service.name</h3>
                        <p>
                            @service.description
                        </p>
                        <a href="">Read More</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Contact Start -->
<div class="contact">
    <div class="container">
        <div class="section-header">
            <p>Get In Touch</p>
            <h2>Get In Touch For Any Query</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-map-marker-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Our Head Office</h3>
                        <p>123 Street, New York, USA</p>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-phone-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Call for Help</h3>
                        <p>+012 345 6789</p>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Email for Information</h3>
                        <p>info@example.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn" type="submit" id="sendMessageButton">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<!-- Blog Start -->
<div class="blog">
    <div class="container">
        <div class="section-header">
            <p>Consulting Blog</p>
            <h2>Latest From Our Consulting Blog</h2>
        </div>
        <div class="owl-carousel blog-carousel">
            @foreach (var post in Model.Posts)
            {
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/img/@post.Images.FirstOrDefault(x=>x.IsMain).Image" alt="Blog">
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">@post.Title</h2>
                        <div class="blog-meta">
                            <i class="fa fa-list-alt"></i>
                            <a href="">@post.Category.Name</a>
                            <i class="fa fa-calendar-alt"></i>
                            <p>01-Jan-2045</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                @post.Description
                            </p>
                            <form asp-controller="Post" asp-action="AddBasket" asp-route-id="@post.Id" method="post">
                                <button type="submit" class="btn">Read More</button>

                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Blog End -->